<!DOCTYPE html>
 
<html>
    <head>
        <meta charset="UTF-8">
        <title> Index Flask </title>
    </head>
    <body></br></br></br></br></br>
        <div align="center">
             <div class="header">
                <h1 class="word">Welcome</h1>
             </div></br></br></br>
                <h1 class="bottom">
                     Hi {{session.username}}!!</br></br> Thank, you has been login..                
                </h1></br></br></br>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a>
          </div>
        </div>
    </body>
</html>